.headingOption {
	font-size: 168%;
	font-family: 'Segoe UI';
	color: #c6c6c6;
	font-weight: bold;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 7px;
	padding-bottom: 7px;
}
.headingOption:hover {
	color: rgb(171, 171, 171);
	background-color: rgb(29, 29, 35);;
}

.mainHeader {
	justify-content: flex-end;
	background-color: #282838;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
}

.title {
	width: 30%;
	margin-top: 35px;
	margin-bottom: 20px;
	margin-left: 10%;
	font-size: 280%;
	font-family: 'Segoe UI';
	color: #4d4f50;
	font-weight: bold;
}

.standardText {
	margin-top: 20px;
	margin-left: 10%;
	font-family: 'Segoe UI';
	color: #4d4f50;
	font-weight: bold;
}

.subtitle {
	font-size: 168%;	
	margin-top: 20px;
	margin-left: 10%;
	font-family: 'Segoe UI';
	color: #4d4f50;
	font-weight: bold;
}

.pfp {
	aspect-ratio: 1;
	height: 50px;
}

.link {
	color: #0000EE;
	text-decoration: underline;
	cursor: pointer;
}
.link:visited {
	color: #0000EE;
	text-decoration: underline;
	cursor: pointer;
}

a {
	text-decoration: inherit;
	color: inherit;
	font-size: inherit;
}
a:visited {
	text-decoration: inherit;
	color: inherit;
	font-size: inherit;
}

body {
	background-color: #f2f2f2;
	margin: 0 0 0 0;
}